body {
    background-image: url("./assets/background.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

@font-face {
    font-family: "Aclonia-Regular";
    src: url("./assets/Aclonica-Regular.ttf");
}

* {
    font-family: "Aclonia-Regular";
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 10px;
}

.luxusball {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

.PokedexHouse {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

header input[type=search] {
    margin-right: 20px;
    border-radius: 100vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 250px;
}

header input[type=search]::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
}

.pokemon-card {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

.pokemon-container img {
    max-width: 100px;
    margin: 0 auto;
}

.smallPokemonCard {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}

.smallPokemonCard:hover {
    transform: scale(1.1);
}

.topBarCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
}

.hp,
.id {
    font-weight: bold;
}

.displayNameCard {
    text-align: center;
    margin-top: 20px;
}

.displayNameCard .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}

.displayNameCard img {
    max-width: 150px;
    margin-top: 10px;
    border: solid 5px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.loadMorePokemon {
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 30%;
    padding: 10px;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    text-align: center;
    position: relative;
}

#preSpinner {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(24, 27, 29);
    width: 100%;
    height: 100%;
}

#preSpinner img {
    width: 320px;
    height: 320px;
}

@media screen and (max-width: 1180px) {
    #pokemon-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 225px));

        gap: 15px;
    }
}

@media screen and (max-width: 1180px) {
    #preSpinner img {
        width: 250px;
        height: 250px;
    }

    #pokemon-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 225px));
        gap: 15px;
        margin-left: 75px;
    }

    .smallPokemonCard {
        padding: 15;
        min-height: 250px;
    }

    .topBarCard {
        font-size: 16px;
        padding: 8px;
    }

    .displayNameCard .name {
        font-size: 10px;
    }

    .displayNameCard img {
        max-width: 80px;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .luxusball,
    .PokedexHouse {
        margin: 10px 0;
    }

    header input[type=search] {
        width: 100%;
        margin-top: 10px;
    }

    #pokemon-list {
        #pokemon-list {
            grid-template-columns: repeat(auto-fit, minmax(150px, 225px));
        }
    }
}

@media screen and (max-width: 480px) {
    header input[type=search] {
        width: 100%;
        margin: 10px 0;
        padding: 8px;
    }

    .loadMorePokemon {
        font-size: 16px;
        padding: 8px;
    }

    .smallPokemonCard {
        min-height: 250px;
    }
}

@media (max-width: 775px) {

    .PokedexHouse,
    .luxusball {
        display: none;
    }
}